@import url('https://fonts.googleapis.com/css2?family=Cairo:wght@200..1000&family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
  margin: 0;
  padding: 0;
  color: #fff;
  text-decoration: none;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  min-height: 100dvh;
  padding-top: 7.5dvh;
  font-family: 'Chakra Petch', 'Cairo', sans-serif;
  font-weight: 400;
  font-size: 2rem;
  font-style: normal;
  color: #fff;
  background-color: #0d0d0d;
}

body:has(.loading),
body:has(.error) {
  overflow: hidden;
}

#app-status {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  justify-content: center;
  gap: 2dvh;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0d0d0d;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 4rem;
  text-align: center;
  user-select: none;
  visibility: hidden;
  opacity: 0;
  z-index: 9999;
}

#app-status.loading,
#app-status.error {
  visibility: visible;
  opacity: 1;
}

nav {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-items: center;
  gap: 2dvw;
  width: 100%;
  height: 7.5dvh;
  padding: 1dvh 2dvw;
  font-family: 'Chakra Petch', sans-serif;
  font-size: 2rem;
  background-color: #0d0d0d;
  border-bottom: 2px solid #121212;
  position: fixed;
  z-index: 9999;
}

#toggle-menu {
  display: none;
}

#website-name {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-size: 2.5rem;
  font-weight: 700;
}

#website-name a {
  color: #1e90ff;
  line-height: 3;
}

#website-name span {
  font-size: 5rem;
  vertical-align: middle;
  margin-right: 0.3dvw;
}

#nav-links {
  display: flex;
  flex-flow: row nowrap;
  justify-content: flex-start;
  align-content: center;
  gap: 1dvw;
}

#nav-links a:hover {
  text-decoration: underline;
}

h1.page-title {
  color: #1e90ff;
  font-size: 5rem;
  font-weight: 700;
}

strong,
h2.colored {
  color: #1e90ff;
  font-weight: 700;
}

h4 {
  font-size: 2rem;
  font-weight: 700;
}

h4 em {
  font-size: 1.8rem;
  font-weight: 300;
}

.page-content {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 80dvw;
}

.content-container {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  gap: 2dvh;
  width: 50%;
}

.loader {
  display: block;
  position: relative;
  height: 12px;
  width: 20%;
  border: 1px solid #fff;
  border-radius: 10px;
  overflow: hidden;
}
.loader::after {
  content: '';
  width: 30%;
  height: 100%;
  background: #1e90ff;
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  animation: animloader 2s linear infinite;
}

@keyframes animloader {
  0% {
    left: 0;
    transform: translateX(-100%);
  }
  100% {
    left: 100%;
    transform: translateX(0%);
  }
}

/* =-=-=-=-= Home Page =-=-=-=-= */
.buttons-container {
  display: flex;
  flex-flow: row nowrap;
  gap: 2dvw;
}

button {
  color: #fff;
  padding: 1.5rem 4rem;
  border: 3px solid #1e90ff;
  border-radius: 1rem;
  background-color: transparent;
  font-size: 2rem;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #1e90ff;
  color: #0d0d0d;
}

#globe-container {
  width: 50%;
  overflow: hidden;
}

.animate-in {
  animation: fade-in 1.5s ease-in forwards;
}

.animate-out {
  animation: fade-out 1.5s ease-in forwards;
}

.animate-in-out {
  animation:
    fade-in 1.5s ease-in,
    fade-out 1.5s ease-out 1.5s forwards;
}

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: translateY(-30px);
  }
}

@keyframes fade-out {
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
}

/* =-=-=-=-= Countries Page =-=-=-=-= */

#search-box {
  padding: 1.5rem;
  color: #000;
  font-size: 1.5rem;
  border-radius: 0.5rem;
  border: 2px solid #121212;
  outline: none;
  transition: border 0.3s ease;
}

#search-box:focus {
  border: 2px solid #1e90ff;
}

#countries-list {
  width: 100%;
  height: 50dvh;
  max-height: 50dvh;
  overflow-y: auto;
  scrollbar-color: #1e90ff #121212;
}

#countries-list li {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  text-align: left;
  padding: 1.5rem;
  border-bottom: 1px solid #121212;
  gap: 2rem;
  list-style: none;
  cursor: pointer;
}

#countries-list li:hover {
  background-color: #121212;
}

#countries-list div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 7rem;
  height: 5rem;
}

#countries-list div img {
  width: 100%;
  max-height: 100%;
}

/* =-=-=-=-= Country Page =-=-=-=-= */

#country-page {
  justify-content: flex-start;
}

#country-page .content-container {
  padding: 5dvh 0;
  width: 100%;
}

#country-page .page-title {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  gap: 1dvw;
}

.country-flag {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 10rem;
}
.country-flag img {
  width: 100%;
  max-height: 100%;
}

#country-map {
  width: 100%;
  min-height: 500px;
}

.country-info {
  display: flex;
  flex-flow: row wrap;
  gap: 4rem;
}

fieldset {
  width: 49%;
  min-width: 550px;
  flex-grow: 1;
  padding: 3rem;
  border-radius: 0.7rem;
}

fieldset legend {
  padding: 0 1rem;
  margin-left: -1rem;
  font-size: 3rem;
  font-weight: 700;
  color: #1e90ff;
}

.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.info-grid > * {
  padding: 1rem;
  border-bottom: 2px solid #121212;
}

.info-grid > *:nth-last-of-type(1) {
  border-bottom: none;
}

.info-grid a[href] {
  text-decoration: underline;
}

details {
  grid-column: span 2;
  border-top: 2px solid #121212;
  border-bottom: none;
}

details summary {
  font-size: 2rem;
  font-weight: 700;
  cursor: pointer;
}

details summary:hover,
details[open] summary {
  color: #1e90ff;
}

.leaflet-bar a span {
  color: #000 !important;
}

/* =-=-=-=-= Media =-=-=-=-= */
@media (max-width: 900px) {
  nav {
    flex-flow: row wrap;
    justify-content: center;
    padding: 0;
    gap: 0;
  }

  #website-name {
    width: 100%;
    height: 100%;
    padding: 2rem;
    font-size: 2rem;
    justify-content: space-between;
  }

  #website-name span {
    font-size: 3rem;
  }

  #nav-links {
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: center;
    width: 100%;
    padding: 3rem;
    gap: 2rem;
    background-color: #121212;
    visibility: hidden;
  }

  #nav-links.visible {
    visibility: visible;
  }

  #toggle-menu {
    display: block;
  }

  .page-content {
    flex-flow: column wrap;
    width: 100dvw;
    padding: 3dvh 0;
  }

  .content-container {
    width: 90%;
    gap: 4dvh;
    align-items: center;
    text-align: center;
    z-index: 1;
  }

  #countries-list {
    height: 45dvh;
    max-height: 45dvh;
    border: 1px solid #333;
    border-radius: 0.5rem;
  }

  #home-page.page-content,
  #countries-page.page-content {
    position: relative;
    overflow: hidden;
  }

  #country-page.page-content {
    width: 90dvw;
  }

  #globe-container {
    width: 150%;
    position: absolute;
    opacity: 0.5;
    z-index: 0;
  }

  #search-box {
    width: 100%;
  }

  #country-map {
    min-height: 300px;
    max-height: 300px;
  }

  #country-page .page-title {
    flex-flow: column wrap;
  }

  fieldset {
    min-width: unset;
  }

  .info-grid > * {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
  }

  #app-status {
    font-size: 3rem;
  }

  .loader {
    width: 70%;
  }
}
